@{
    ViewData["Title"] = "Details";
}

<h2>TOP MOVIE</h2>
<div class="topmovie">
    <div class="topmoviecontainer">
        <div class="topmovieposter"></div>
        <div class="topmovietext">
            <h3>
                Cast Away (2000)
            </h3>
            <p class="plot">"A FedEx executive undergoes a physical and emotional transformation after crash landing on a deserted island."</p>
            <p class="actors">Actors: Tom Hanks, Helen Hunt, Paul Sanchez</p>
            <p class="director">Director: Robert Zemeckis</p>

        </div>
    </div>
    <div class="topmovieratings">
        <table>
            <tr>
                <td>
                    <div class="imdbicon"></div>
                </td>
                <td>
                    <div class="imdbicon"></div>
                </td>
                <td>
                    <div class="imdbicon"></div>
                </td>
            </tr>
            <tr>
                <td>
                    8.3
                </td>
                <td>
                    8.0
                </td>
                <td>
                    8.4
                </td>
            </tr>
        </table>
    </div>
</div>