@{
    ViewData["Title"] = "Home";
}

<h2>TOP MOVIE</h2>
<div class="topmovie">
    <div class="topmovieposter"></div>
    <div class="topmovietext">
        <h3>
            Cast Away (2000)
        </h3>
        <p>"A FedEx executive undergoes a physical and emotional transformation after crash landing on a deserted island."</p>
        <p>Actors: Tom Hanks, Helen Hunt, Paul Sanchez</p>
        <p>Director: Robert Zemeckis</p>
    </div>
    <div class="topmovieratings">

    </div>
    </div>

<h3>2nd - 10th</h3>
    
    <div class="top10">
        <div class="top10movie">
            <div class="top10poster">

            </div>
            <div class="top10rating">

            </div>
        </div>

        <div class="top10movie">
            <div class="top10poster">

            </div>
            <div class="top10rating">

            </div>
        </div>

        <div class="top10movie">
            <div class="top10poster">

            </div>
            <div class="top10rating">

            </div>
        </div>

        <div class="top10movie">
            <div class="top10poster">

            </div>
            <div class="top10rating">

            </div>
        </div>

        <div class="top10movie">
            <div class="top10poster">

            </div>
            <div class="top10rating">

            </div>
        </div>

        <div class="top10movie">
            <div class="top10poster">

            </div>
            <div class="top10rating">

            </div>
        </div>

        <div class="top10movie">
            <div class="top10poster">

            </div>
            <div class="top10rating">

            </div>
        </div>

        <div class="top10movie">
            <div class="top10poster">

            </div>
            <div class="top10rating">

            </div>
        </div>

        <div class="top10movie">
            <div class="top10poster">

            </div>
            <div class="top10rating">

            </div>
        </div>

    </div>