@{
    ViewData["Title"] = "Home";
}

<h2>TOP MOVIE</h2>
<div class="topmovie">
    <div class="topmovieposter"></div>
        <div class="topmovietext">
            <h3>
                Cast Away (2000)
            </h3>
            <p>"A FedEx executive undergoes a physical and emotional transformation after crash landing on a deserted island."</p>
            <p>Actors: Tom Hanks, Helen Hunt, Paul Sanchez</p>
            <p>Director: Robert Zemeckis</p>
            <div class="topmovieratings">
                <p>
                    <img src="~/Images/imdb.png" width="130" height="100" />
                    <br />
                    8.3
                </p>
            </div>
        </div>
    </div>

<h5>2nd - 4th</h5>
    
    <div class="top10">
        <div class="top10movie">
            <div class="top10poster"></div>
            <div class="top10text">
                <h4>Cast Away (2000)</h4>
                <p>
                    "A FedEx executive undergoes a physical and emotional transformation after crash landing on a deserted island."
                </p>
                <div class="top10rating">
                    <img src="~/Images/imdb.png" width="65" height="50" /> 
                    <br />
                    8.3
                </div>
            </div>
            
        </div>

        <div class="top10movie">
            <div class="top10poster"></div>
            <div class="top10text">
                <h4>Cast Away (2000)</h4>
                <p>
                    "A FedEx executive undergoes a physical and emotional transformation after crash landing on a deserted island."
                </p>
                <div class="top10rating">
                    <img src="~/Images/imdb.png" width="65" height="50" />
                    <br />
                    8.3
                </div>
            </div>

        </div>

        <div class="top10movie">
            <div class="top10poster"></div>
            <div class="top10text">
                <h4>Cast Away (2000)</h4>
                <p>
                    "A FedEx executive undergoes a physical and emotional transformation after crash landing on a deserted island."
                </p>
                <div class="top10rating">
                    <img src="~/Images/imdb.png" width="65" height="50" />
                    <br />
                    8.3
                </div>
            </div>

        </div>
    </div>